---
version: '3.7'

services:
  node:
    container_name: ${COMPOSE_PROJECT_NAME}_bot
    image: node:8-stretch-slim
    restart: always
    working_dir: /app/
    command: npm start
    volumes:
      - ./:/app/

networks:
  default:
    attachable: true
